@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/card';
@import '../../node_modules/bootstrap/scss/media';
@import '../../node_modules/bootstrap/scss/images';
@import '../../node_modules/bootstrap/scss/type';
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/transitions';
@import '../../node_modules/bootstrap/scss/utilities';
@import 'partials/base';
body {
  font-family: 'IBM Plex Sans', sans-serif;
}
// @import 'partials/base';

.wp-block {
  font-family: 'IBM Plex Sans', sans-serif;
}

.editor-post-title {
  margin-bottom: 0;
}

.block-editor-block-list__layout {
  h2:first-child {
    font-size: 20px;
    // color: red;
  }
}
