{% extends "partials/base.twig" %}

{% block content %}
	<article id="main" class="project container">
		<h1 class="project-title">{{ project.title }}</h1>
		<div class="content">{{ project.content }}</div>
	</article>
{% endblock %}
