{% extends "partials/base.twig" %}

{% block content %}
	<article id="main" class="container">
		<div class="title mb-2">
			<h2 class="my-3 font-weight-bold">{{ project.title }}</h2>
			{{ subtitle }}
		</div>
		{{ project.content }}
	</article>
{% endblock %}
